<nav class="navbar">
    <div class="navbar-left">
      <span class="titulo">Protectora</span>
      <a routerLink="/animales" routerLinkActive="activo">Animales</a>
      <a routerLink="/eventos" routerLinkActive="activo">Eventos</a>
      <a routerLink="/noticias" routerLinkActive="activo">Noticias</a>
      <a routerLink="/contacto" routerLinkActive="activo">Contacto</a>
    </div>
  
    <div class="navbar-right">
      <button *ngIf="!estaLogeado" routerLink="/login">Login</button>
      <button *ngIf="estaLogeado" (click)="logout()">Logout</button>
    </div>
  </nav>